@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Restaurant Submissions";
}
@model IEnumerable<TopRestaurants.Models.Submissions> 

<div>
<h3>Here are the restaurants that you have submitted during this session</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Submitters Name</th>
            <th scope="col">Restaurant Name</th>
            <th scope="col">Favorite Dish</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach (TopRestaurants.Models.Submissions x in Model)
        {
            <tr>
                <td>@x.name</td>
                <td>@x.restaurant_name</td>
                <td>@x.favorite_dish</td>
                <td>@x.phone</td>
            </tr>
        }
    </tbody>
</table>
</div>